{% include 'overall_header.html' %}

<h1>{{ lang('ACP_URLREWRITING_FAQ') }}</h1>

<p>{{ lang('ACP_URLREWRITING_FAQ_EXPLAIN') }}</p>

{% for faq_block in loops.faq_block %}
	<fieldset>
		<legend>{{ faq_block.BLOCK_TITLE }}</legend>

		{% if faq_block.S_SERVER_SWITCH %}
			<dl>
				<dt><label for="faq_fallback_server_type">{{ lang('ACP_URLREWRITING_SELECT_SERVER') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<select id="faq_fallback_server_type" class="urlrewriting-server-select" data-apache-target="faq_fallback_apache_config" data-nginx-target="faq_fallback_nginx_config">
						<option value="apache">{{ lang('ACP_URLREWRITING_SERVER_APACHE') }}</option>
						<option value="nginx">{{ lang('ACP_URLREWRITING_SERVER_NGINX') }}</option>
					</select>
				</dd>
			</dl>
		{% endif %}

		{% for faq_row in faq_block.faq_row %}
			{% if faq_row.S_CODE_BLOCK %}
				<div id="faq_fallback_{{ faq_row.CODE_TYPE }}_config"{% if faq_row.S_NGINX_CODE %} hidden{% endif %}>
					<h2>{{ faq_row.FAQ_QUESTION }}</h2>
					<textarea rows="16" cols="80" readonly>{{ faq_row.FAQ_ANSWER }}</textarea>
				</div>
			{% else %}
				<h2>{{ faq_row.FAQ_QUESTION }}</h2>
				<div>{{ faq_row.FAQ_ANSWER|raw }}</div>
			{% endif %}

			{% if not loop.last %}
				<hr />
			{% endif %}
		{% endfor %}
	</fieldset>
{% endfor %}

{% INCLUDEJS '@vinny_urlrewriting/urlrewriting_acp.js' %}
{% include 'overall_footer.html' %}
