{% include 'overall_header.html' %}

<h1>{{ lang('ACP_URLREWRITING_SETTINGS') }}</h1>

<p>{{ lang('ACP_URLREWRITING_SETTINGS_EXPLAIN') }}</p>
<p>
	{{ lang('VINNY_URLREWRITING_SUPPORT_STAR')|raw }}<br />
	{{ lang('VINNY_URLREWRITING_SUPPORT_DONATE')|raw }}
</p>

<form id="acp_urlrewriting_settings" method="post" action="{{ U_ACTION }}">

<fieldset>
	<legend>{{ lang('ACP_URLREWRITING_SETTINGS') }}</legend>
	<dl>
		<dt><label for="vinny_url_rewrite_enable">{{ lang('VINNY_URL_REWRITE_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_REWRITE_ENABLE_EXPLAIN')|raw }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_rewrite_enable" name="vinny_url_rewrite_enable" value="1" {% if VINNY_URL_REWRITE_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_rewrite_enable" value="0" {% if not VINNY_URL_REWRITE_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>
	<dl>
		<dt><label for="vinny_url_rewrite_mode">{{ lang('VINNY_URL_REWRITE_MODE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_REWRITE_MODE_EXPLAIN')|raw }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_rewrite_mode" name="vinny_url_rewrite_mode" value="0" {% if not VINNY_URL_REWRITE_MODE %} checked="checked"{% endif %} /> {{ lang('VINNY_URL_MODE_SIMPLE') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_rewrite_mode" value="1" {% if VINNY_URL_REWRITE_MODE %} checked="checked"{% endif %} /> {{ lang('VINNY_URL_MODE_ADVANCED') }}</label></dd>
	</dl>
	<dl>
		<dt><label for="vinny_url_translit_enable">{{ lang('VINNY_URL_TRANSLIT_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_TRANSLIT_ENABLE_EXPLAIN') }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_translit_enable" name="vinny_url_translit_enable" value="1" {% if VINNY_URL_TRANSLIT_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_translit_enable" value="0" {% if not VINNY_URL_TRANSLIT_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>

	<dl>
		<dt><label for="vinny_url_opengraph_enable">{{ lang('VINNY_URL_OPENGRAPH_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_OPENGRAPH_ENABLE_EXPLAIN') }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_opengraph_enable" name="vinny_url_opengraph_enable" value="1" {% if VINNY_URL_OPENGRAPH_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_opengraph_enable" value="0" {% if not VINNY_URL_OPENGRAPH_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>
	<dl>
		<dt><label for="vinny_url_redirect_enable">{{ lang('VINNY_URL_REDIRECT_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_REDIRECT_ENABLE_EXPLAIN') }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_redirect_enable" name="vinny_url_redirect_enable" value="1" {% if VINNY_URL_REDIRECT_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_redirect_enable" value="0" {% if not VINNY_URL_REDIRECT_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>
	<dl>
		<dt><label for="vinny_url_min_word_length">{{ lang('VINNY_URL_MIN_WORD_LENGTH') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_MIN_WORD_LENGTH_EXPLAIN') }}</span></dt>
		<dd><input type="number" id="vinny_url_min_word_length" name="vinny_url_min_word_length" value="{{ VINNY_URL_MIN_WORD_LENGTH }}" min="0" max="10" /></dd>
	</dl>
	<dl>
		<dt><label for="vinny_url_members_enable">{{ lang('VINNY_URL_MEMBERS_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('VINNY_URL_MEMBERS_ENABLE_EXPLAIN') }}</span></dt>
		<dd><label><input type="radio" class="radio" id="vinny_url_members_enable" name="vinny_url_members_enable" value="1" {% if VINNY_URL_MEMBERS_ENABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="vinny_url_members_enable" value="0" {% if not VINNY_URL_MEMBERS_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
	</dl>
</fieldset>

<fieldset class="submit-buttons">
	<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
	<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% include 'overall_footer.html' %}
